[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/implot"]
	path = deps/implot
	url = https://github.com/epezent/implot.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
